@{
    ViewData["Title"] = "Login";
}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                     class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 border p-5 shadow rounded">
                <form asp-action="Login">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      
                        <input type="text" id="form1Example13" placeholder="Username" id="username" name="username" required class="form-control form-control-md" />
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password"  placeholder="Password" id="form1Example23" class="form-control form-control-md" id="password" name="password" required />
                     
                    </div>

                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.Error
                        </div>
                    }

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                            <label class="form-check-label" for="form1Example3"> Nhớ tôi </label>
                        </div>
                        <a href="#!">Quên mật khẩu?</a>
                    </div>

                    <!-- Submit button -->
                   <div class="d-flex justify-content-between">
                       <div >
                            <button type="submit" class="btn btn-primary btn-md btn-block">Đăng nhập</button>
                       </div>
                        <div >
                            <a type="button" class="btn btn-warning btn-md btn-block" asp-controller="Access" asp-action="Register">Đăng ký ngay</a>
                        </div>
                   </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                    </div>

                    <a class="btn btn-primary btn-md btn-block" style="background-color: #3b5998" href="#!"
                       role="button">
                        <i class="fab fa-facebook-f me-2"></i>Tiếp tục với Facebook
                    </a>
                    <a class="btn btn-primary btn-md btn-block" style="background-color: #55acee" href="#!"
                       role="button">
                        <i class="fab fa-twitter me-2"></i>Tiếp tục với Twitter
                    </a>

                </form>
            </div>
        </div>
    </div>
</section>
<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }
</style>