@using Org_DAL.Models
@model ProductDetail
@{
    ViewData["Title"] = "Thêm sản phẩm";
}

<h3 class="text-center">Thêm sản phẩm</h3>

<div class="container">

    <div>
    </div>
    <form method="post">
        <div class="mt-3 mb-3">
          
            <div class="row">
                <div class="col-8">
                    <span>
                        <label asp-for="ProductName"></label>
                        <input asp-for="ProductName" class="form-control" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </span>
                </div>
                <div class="col-4">
                    <span>
                        <label asp-for="ProductId"></label>
                        <input asp-for="ProductId" class="form-control" />
                        <span asp-validation-for="ProductId" class="text-danger"></span>
                    </span>
                </div>
               
            </div>





            <div class="mt-5">
               <div class="row">
                   <div class="col-4">
                        <span>
                            <label asp-for="Weight"></label>
                            <input asp-for="Weight" class="form-control" />
                            <span asp-validation-for="Weight" class="text-danger"></span>
                        </span>
                   </div>
                    <div class="col-4">
                        <span>
                            <label asp-for="TypeClosure"></label>
                            <input asp-for="TypeClosure" class="form-control" />
                            <span asp-validation-for="TypeClosure" class="text-danger"></span>
                        </span>
                    </div>
                    <div class="col-4">
                        <span>
                            <label asp-for="Quantity"></label>
                            <input asp-for="Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </span>
                    </div>
               </div>



                <div class="row mt-5">
                    <div class="col-4">
                        <span>
                            <label asp-for="ListedPriced"></label>
                            <input asp-for="ListedPriced" class="form-control" />
                            <span asp-validation-for="ListedPriced" class="text-danger"></span>
                        </span>
                    </div>
                    <div class="col-4">
                        <span>
                            <label asp-for="Priced"></label>
                            <input asp-for="Priced" class="form-control" />
                            <span asp-validation-for="Priced" class="text-danger"></span>
                        </span>
                    </div>
                    <div class="col-4">
                        <span>
                            <label asp-for="SaleId"></label>
                            <input asp-for="SaleId" type="text" class="form-control" />
                            <span asp-validation-for="SaleId" class="text-danger"></span>
                        </span>
                    </div>
                </div>


                <div class="row mt-5">
                    <div class="col-4">
                        <span>
                            <label asp-for="MFG"></label>
                            <input asp-for="MFG" type="date" class="form-control" />
                            <span asp-validation-for="MFG" class="text-danger"></span>
                        </span>
                    </div>
                    <div class="col-4">
                        <span>
                            <label asp-for="EXP"></label>
                            <input asp-for="EXP" type="date" class="form-control" />
                            <span asp-validation-for="EXP" class="text-danger"></span>
                        </span>
                    </div>
                    <div class="col-4">
                        <span>
                            <label asp-for="Status"></label>
                            <input asp-for="Status" type="text" class="form-control" />
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </span>
                    </div>
                </div>


            </div>

        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-secondary me-2">
                Quay lại danh sách
            </button>
            <button class="btn btn-outline-success" type="submit">
                Thêm
            </button>
        </div>
    </form>
  
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />

    }
}