@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-5 mb-5">
    <div id="carouselExampleIndicators" class="carousel slide rounded">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Asset/Images/1.jpg" class="d-block w-100 rounded" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Asset/Images/2.jpg" class="d-block w-100 rounded" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>
<div class="row mt-5 mb-5">
    <div class="boxCategory col-lg-2 col-md-4 col-6 m-0 mt-2">
        <div class="d-flex text-center flex-column justify-content-center shadow p-4 rounded-3">
            <div>
                <svg width="42px" height="42px" viewBox="0 0 150 150" id="ART" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #fff800;
                            }

                            .cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {
                                stroke: #000000;
                            }

                            .cls-1, .cls-2, .cls-3, .cls-4 {
                                stroke-miterlimit: 10;
                            }

                            .cls-1, .cls-4 {
                                stroke-width: 4px;
                            }

                            .cls-2 {
                                fill: none;
                                stroke-width: 2px;
                            }

                            .cls-3, .cls-4, .cls-5 {
                                fill: #057a3a;
                            }

                            .cls-3, .cls-5 {
                                stroke-width: 3px;
                            }

                            .cls-5 {
                                stroke-linecap: square;
                            }</style>
                    </defs>
                    <title />
                    <path class="cls-1" d="M115.4,98.76c0,33.38-21.88,46.43-39.54,46.43H74.15c-17.66,0-39.54-13.06-39.54-46.43,0-21.46,11.25-46.43,39.54-46.43h1.71C104.14,52.33,115.4,77.3,115.4,98.76Z" data-name="&lt;Path&gt;" id="_Path_" />
                    <polyline class="cls-2" points="83.27 144.45 75 136.18 61.86 123.04 48.72 109.9 35.59 96.77 34.67 95.85" />
                    <polyline class="cls-2" points="111.63 120.26 101.28 109.9 88.14 96.76 75 83.63 61.86 70.49 51.13 59.75" />
                    <polyline class="cls-2" points="115.33 95.85 114.42 96.77 101.28 109.9 88.14 123.04 75 136.18 66.73 144.45" />
                    <polyline class="cls-2" points="98.87 59.75 88.14 70.49 75 83.63 61.86 96.76 48.72 109.9 38.37 120.26" />
                    <polyline class="cls-2" points="70.15 52.5 75 57.35 88.14 70.49 101.28 83.63 114.42 96.77 115.39 97.74 115.39 97.75" />
                    <polyline class="cls-2" points="100.87 135.77 88.14 123.04 75 109.9 61.86 96.76 48.73 83.63 39.69 74.59" />
                    <polyline class="cls-2" points="34.61 97.75 34.61 97.74 35.59 96.77 48.73 83.63 61.86 70.49 75 57.35 79.85 52.5" />
                    <polyline class="cls-2" points="110.32 74.58 101.28 83.63 88.14 96.76 75 109.9 61.86 123.04 49.13 135.77" />
                    <path class="cls-3" d="M82.93,54.24c0-7,2.5-36.66,9.95-49-12.72,3.32-29,24.11-29,49C63.86,57.61,82.93,58,82.93,54.24Z" />
                    <path class="cls-3" d="M66.79,54.24c0-7-2.43-36.66-9.67-49,12.36,3.32,28.51,24.11,28.51,49C85.63,57.61,66.79,58,66.79,54.24Z" />
                    <path class="cls-3" d="M86.34,55c0-5,3.57-26,14.23-34.77C82.38,22.6,63.69,37.35,63.69,55,63.69,57.41,86.34,57.7,86.34,55Z" />
                    <path class="cls-3" d="M63.26,55c0-5-3.47-26-13.83-34.77C67.11,22.6,85.58,37.35,85.58,55,85.58,57.41,63.26,57.7,63.26,55Z" />
                    <path class="cls-4" d="M74.95,55a.66.66,0,0,1,0,.25.51.51,0,0,1-.05-.25c0-.46,0-.91.05-1.35C74.94,54.12,74.95,54.57,74.95,55Z" />
                    <path class="cls-5" d="M75.32,40c10.48-6.5,25.44-8.41,34.16-5-15.5,2.33-22.74,15-22.74,20,0,2.58-5.87,4.86-11.83,4.86S63.13,57.6,63.13,55c0-5-7.21-17.64-22.61-20C53.69,29.83,80,38.91,83.89,55.64" />
                </svg>
            </div>
            <div class="fw-bold text-dark fs-5">
                Quả
            </div>
            <div class="text-secondary fs-6">
                30 sản phẩm
            </div>
        </div>
    </div>

    <div class="boxCategory col-lg-2 col-md-4 col-6 m-0 mt-2">
        <div class="d-flex text-center flex-column justify-content-center shadow p-4 rounded-3">
            <div>
                <svg height="42px" width="42px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 511.985 511.985" xml:space="preserve">
<path style="fill:#F4BE8E;" d="M511.985,213.326c0-94.263-90.716-170.667-202.65-170.667c-55.748,0-106.247,18.968-142.886,49.639
	l0,0l-0.016,0.031c-8.406,7.031-16.093,14.688-22.937,22.875l-84.81,84.685l48.686,27.749
	c5.656,57.318,44.952,106.599,101.216,133.785v107.904l154.073-29.844l102.623-102.402h-0.016
	C495.516,306.956,511.985,255.637,511.985,213.326z" />
<path style="fill:#EAAD7A;" d="M464.331,338.018c5.594-19.812,8.53-40.125,8.53-59.5c0-26.553-6.187-52.318-18.343-76.536
	c-11.688-23.265-28.375-44.124-49.592-61.982c-43.281-36.452-100.701-56.514-161.699-56.514c-27.265,0-59.202,8.39-85.138,16.249
	c-6.968,6.156-8.75,8.5-14.593,15.469l-18.968,18.952c35.843-19.015,77.248-29.343,118.7-29.343
	c114.856,0,208.291,77.935,208.291,173.705c0,34.156-10.219,70.779-26.719,98.967L464.331,338.018z" />
<path style="fill:#FFD2A6;" d="M202.666,149.328C90.748,149.328,0,225.732,0,319.987c0,28.029,8.046,54.498,22.281,77.842
	c-13.124,5.781-22.28,18.904-22.28,34.154c0,20.625,16.718,37.344,37.343,37.344h67.154c0,0,9.094,0,23.5,0
	c43.358,0,134.965,0,172.838,0c66.467,0,104.498-85.092,104.498-149.34C405.333,225.732,314.585,149.328,202.666,149.328z" />
<path style="fill:#ED5564;" d="M305.147,235.732c-28.623-21.015-65.966-33.077-102.481-33.077
	c-35.749,0-73.216,13.515-102.793,37.046c-13.843,11.031-25.39,23.906-33.39,37.224c-8.578,14.312-13.109,29.25-13.109,43.188
	c0,12.406,3.593,22.248,10.687,29.311c13.5,13.438,36.14,13.344,57.998,13.219c1.984,0,3.969,0,5.938,0c19.812,0,51.952,0,76.123,0
	h30.546c20.89,0,40.625-1,52.545-13.312c6.844-7.062,10.124-17.061,9.718-29.686c-0.812-25.156-21.154-46.529-54.435-57.193
	c-20.937-6.704-44.186-8.125-65.436-3.984c-24.031,4.672-43.655,16.055-56.874,32.865c-3.937,4.188-3.89,10.781,0.203,14.875
	c4.172,4.156,10.922,4.156,15.078,0c0.359-0.375,0.671-0.75,0.968-1.125l0.047,0.031c16.546-21.656,56.014-36.271,99.513-22.344
	c28.625,9.188,39.218,25.406,39.609,37.562c0.328,10-2.703,13.125-3.703,14.156c-6.125,6.311-22.422,6.842-37.234,6.842h-30.546
	c-24.171-0.031-56.311-0.031-76.123-0.031c-2,0-4.031,0-6.031,0.031c-17.531,0.094-35.624,0.156-42.874-7.029
	c-2.953-2.938-4.406-7.594-4.406-14.188c0-20.719,14.39-44.529,38.468-63.709c25.874-20.608,58.498-32.421,89.513-32.421
	c32.077,0,64.827,10.547,89.857,28.937c24.249,17.813,38.155,40.788,38.155,63.069c0,22.75-6.391,43.498-18.016,58.467
	c-9.984,12.844-22.858,20.188-35.326,20.188H20.391c0.609,1.062,1.234,2.125,1.891,3.188c-8.188,3.625-14.843,10.094-18.687,18.154
	h273.742c19.092,0,38.107-10.373,52.17-28.436c14.515-18.688,22.515-44.094,22.515-71.561
	C352.021,286.831,334.944,257.591,305.147,235.732z" />
</svg>
            </div>
            <div class="fw-bold text-dark fs-5">
                Bánh
            </div>
            <div class="text-secondary fs-6">
                30 sản phẩm
            </div>
        </div>
    </div>

    <div class="boxCategory col-lg-2 col-md-4 col-6 m-0 mt-2">
        <div class="d-flex text-center flex-column justify-content-center shadow p-4 rounded-3">
            <div>
                <svg height="42px" width="42px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 511.984 511.984" xml:space="preserve">
<polygon style="fill:#48CFAD;" points="341.343,511.984 170.667,511.984 128.013,223.993 383.997,223.993 " />
<polygon style="fill:#965353;" points="158.027,426.643 170.667,511.984 341.343,511.984 353.967,426.643 " />
<polygon style="fill:#EC87C0;" points="158.027,426.643 353.967,426.643 372.935,298.647 139.059,298.647 139.059,298.647 " />
<path style="fill:#E6E9ED;" d="M383.309,226.751c0.438-4.406,0.688-8.89,0.688-13.421c0-70.693-57.311-127.996-128.004-127.996
	c-70.686,0-127.98,57.303-127.98,127.996c0,4.531,0.234,9.015,0.688,13.421H383.309z" />
<path style="fill:#37BC9B;" d="M128.013,213.329c0,4.531,0.234,9.015,0.688,13.421H383.31c0.438-4.406,0.688-8.89,0.688-13.421
	c0-14.96-2.562-29.319-7.281-42.67H135.294C130.575,184.01,128.013,198.369,128.013,213.329z" />
<g>
                <path style="fill:#48CFAD;" d="M181.339,191.994c0,5.891-4.781,10.664-10.672,10.664c-5.89,0-10.655-4.773-10.655-10.664
		c0-5.89,4.766-10.664,10.655-10.664C176.558,181.33,181.339,186.104,181.339,191.994z" />
                <path style="fill:#48CFAD;" d="M309.28,170.659c0,5.891-4.781,10.671-10.688,10.671c-5.874,0-10.655-4.781-10.655-10.671
		s4.781-10.664,10.655-10.664C304.499,159.995,309.28,164.768,309.28,170.659z" />
                <path style="fill:#48CFAD;" d="M351.998,191.994c0,5.891-4.781,10.664-10.655,10.664c-5.906,0-10.688-4.773-10.688-10.664
		c0-5.89,4.781-10.664,10.688-10.664C347.217,181.33,351.998,186.104,351.998,191.994z" />
                <path style="fill:#48CFAD;" d="M266.665,191.994c0,5.891-4.781,10.664-10.656,10.664c-5.906,0-10.672-4.773-10.672-10.664
		c0-5.89,4.766-10.664,10.672-10.664C261.884,181.33,266.665,186.104,266.665,191.994z" />
                <path style="fill:#48CFAD;" d="M223.947,170.659c0,5.891-4.781,10.671-10.672,10.671s-10.672-4.781-10.672-10.671
		s4.781-10.664,10.672-10.664S223.947,164.768,223.947,170.659z" />
</g>
<g>
                <path style="fill:#D770AD;" d="M184.464,333.771c-4.172,4.172-4.172,10.937,0,15.093c4.156,4.156,10.922,4.156,15.078,0
		c4.171-4.156,4.171-10.921,0-15.093C195.386,329.615,188.62,329.615,184.464,333.771z" />
                <path style="fill:#D770AD;" d="M216.463,376.441c-4.172,4.172-4.172,10.922,0,15.078c4.156,4.172,10.922,4.172,15.078,0
		c4.171-4.156,4.171-10.906,0-15.078C227.385,372.27,220.619,372.27,216.463,376.441z" />
                <path style="fill:#D770AD;" d="M248.462,333.771c-4.172,4.172-4.172,10.937,0,15.093c4.156,4.156,10.922,4.156,15.078,0
		c4.172-4.156,4.172-10.921,0-15.093C259.384,329.615,252.618,329.615,248.462,333.771z" />
                <path style="fill:#D770AD;" d="M280.469,376.441c-4.187,4.172-4.187,10.922,0,15.078c4.156,4.172,10.906,4.172,15.062,0
		c4.187-4.156,4.187-10.906,0-15.078C291.375,372.27,284.625,372.27,280.469,376.441z" />
                <path style="fill:#D770AD;" d="M327.53,333.771c-4.156-4.156-10.906-4.156-15.062,0c-4.188,4.172-4.188,10.937,0,15.093
		c4.156,4.156,10.906,4.156,15.062,0C331.718,344.708,331.718,337.943,327.53,333.771z" />
</g>
<rect x="117.337" y="191.992" style="fill:#E6E9ED;" width="277.31" height="42.663" />
<path style="fill:#656D78;" d="M255.868,0c-5.891,0-10.672,4.773-10.672,10.664l0,0v159.995h21.328V10.664
	C266.524,4.773,261.759,0,255.868,0z" />
<path style="fill:#434A54;" d="M266.524,85.763c-3.469-0.281-6.984-0.43-10.531-0.43c-3.641,0-7.234,0.156-10.797,0.453v84.873
	h21.328V85.763z" />
<g>
                <path style="fill:#723939;" d="M220.885,504.453c-4.172-4.187-10.922-4.187-15.094,0c-2.078,2.062-3.125,4.812-3.125,7.531h21.328
		C223.994,509.265,222.963,506.515,220.885,504.453z" />
                <path style="fill:#723939;" d="M263.54,504.453c-4.156-4.187-10.922-4.187-15.078,0c-2.078,2.062-3.125,4.812-3.125,7.531h21.328
		C266.665,509.265,265.634,506.515,263.54,504.453z" />
                <path style="fill:#723939;" d="M306.218,504.453c-4.188-4.187-10.937-4.187-15.093,0c-2.094,2.062-3.125,4.812-3.125,7.531h21.343
		C309.343,509.265,308.28,506.515,306.218,504.453z" />
</g>
</svg>
            </div>
            <div class="fw-bold text-dark fs-5">
                Nước trái cây
            </div>
            <div class="text-secondary fs-6">
                30 sản phẩm
            </div>
        </div>
    </div>

    <div class="boxCategory col-lg-2 col-md-4 col-6 m-0 mt-2">
        <div class="d-flex text-center flex-column justify-content-center shadow p-4 rounded-3">
            <div>
                <svg height="42px" width="42px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 511.985 511.985" xml:space="preserve">
<path style="fill:#7F4545;" d="M96,501.314V10.657h262.242c-0.469,8.016,2.124,16.125,7.593,22.546
	c-0.531,9.031,2.781,18.016,9.312,24.546c6.047,6.031,14.078,9.359,22.625,9.359c0.641,0,1.281-0.016,1.922-0.047
	c4.656,3.953,10.265,6.469,16.296,7.297v426.956L96,501.314L96,501.314z" />
<rect x="85.341" y="255.993" width="331.73" height="21.327" />
<rect x="85.341" y="341.313" width="331.73" height="21.328" />
<polygon style="fill:#FFCE54;" points="426.645,234.65 85.337,106.654 85.337,511.985 426.645,511.985 " />
<path style="fill:#602B2B;" d="M420.396,63.999c-5.453,0-10.906-2.094-15.062-6.25c-0.672-0.656-1.281-1.359-1.828-2.078
	c-1.875,0.516-3.797,0.781-5.734,0.781c-5.453,0-10.906-2.078-15.078-6.25c-5.641-5.641-7.453-13.641-5.453-20.812
	c-0.719-0.547-1.438-1.156-2.094-1.812c-7.5-7.516-8.25-19.234-2.188-27.578H85.337v85.326v21.328l21.327,8v-8h42.671v23.999
	l21.327,8v-31.999h42.671v47.999l21.327,8v-55.998h42.679v63.998h-21.344l56.889,21.343h28.453v10.656l21.311,8v-18.656h42.688
	v34.655l21.311,8V63.061C424.614,63.686,422.521,63.999,420.396,63.999z M149.335,85.326h-42.671V21.328h42.671V85.326z
	 M213.333,85.326h-42.671V21.328h42.671V85.326z M277.339,85.326H234.66V21.328h42.679V85.326z M341.337,170.652H298.65v-63.998
	h42.688V170.652z M341.337,85.326H298.65V21.328h42.688V85.326z M405.335,170.652h-42.688v-63.998h42.688V170.652z M405.335,85.326
	h-42.688V59.327c1.469,2.109,3.125,4.109,4.969,5.953c7.656,7.672,17.719,12.062,28.5,12.469c2.875,2,5.969,3.625,9.219,4.844
	V85.326z" />
<path style="fill:#ED5564;" d="M351.992,330.647c0,53.029-42.983,95.997-95.997,95.997c-53.021,0-95.997-42.968-95.997-95.997
	c0-53.015,42.976-95.997,95.997-95.997C309.009,234.65,351.992,277.633,351.992,330.647z" />
<g>
                <path style="fill:#FFCE54;" d="M295.525,301.773c-2.062-2.078-4.812-3.125-7.531-3.125h-63.99c-2.734,0-5.469,1.047-7.547,3.125
		c-4.171,4.172-4.171,10.922,0,15.093c2.078,2.078,4.812,3.125,7.539,3.125l0,0h63.998l0,0c2.719,0,5.469-1.047,7.531-3.125
		C299.712,312.695,299.712,305.945,295.525,301.773z" />
                <path style="fill:#FFCE54;" d="M277.339,341.318L277.339,341.318H234.66l0,0c-2.727,0-5.461,1.047-7.539,3.125
		c-4.164,4.172-4.164,10.922,0,15.078c2.086,2.094,4.812,3.141,7.547,3.125h42.655c2.733,0.016,5.452-1.031,7.546-3.125
		c4.156-4.156,4.156-10.906,0-15.078C282.791,342.365,280.056,341.318,277.339,341.318z" />
</g>
</svg>
            </div>
            <div class="fw-bold text-dark fs-5">
                Snack
            </div>
            <div class="text-secondary fs-6">
                30 sản phẩm
            </div>
        </div>
    </div>


    <div class="boxCategory col-lg-2 col-md-4 col-6 m-0 mt-2">
        <div class="d-flex text-center flex-column justify-content-center shadow p-4 rounded-3">
            <div>
                <svg height="42px" width="42px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 511.999 511.999" xml:space="preserve">
<path style="fill:#76CC5B;" d="M90.738,421.262c145.944,145.945,485.68-115.381,410.554-410.554
	C206.118-64.418-55.206,275.318,90.738,421.262z" />
<path style="opacity:0.2;enable-background:new    ;" d="M90.738,374.976c-23.112-23.112-36-51.091-40.166-81.509
	c-6.04,48.061,5.702,93.332,40.166,127.795C226.369,556.893,529.369,340.778,511.216,72.64
	C494.625,318.485,218.465,502.704,90.738,374.976z" />
<path style="fill:#599944;" d="M399.172,206.679l-64.02-13.466l62.685-62.685c4.519-4.519,4.519-11.846,0-16.365
	s-11.846-4.519-16.364,0l-62.687,62.687l-13.466-64.02c-1.316-6.253-7.449-10.259-13.705-8.941
	c-6.255,1.316-10.257,7.452-8.943,13.705l16.574,78.796l-58.589,58.589l-13.466-64.02c-1.316-6.255-7.449-10.259-13.705-8.943
	c-6.253,1.316-10.257,7.452-8.941,13.705l16.574,78.796l-58.589,58.589l-13.466-64.02c-1.316-6.253-7.451-10.257-13.705-8.941
	c-6.255,1.316-10.257,7.452-8.942,13.705l16.574,78.795L3.389,492.247c-4.519,4.519-4.519,11.845,0,16.364
	c2.259,2.259,5.221,3.388,8.182,3.388s5.923-1.129,8.182-3.388l139.602-139.602l78.796,16.574c0.804,0.17,1.605,0.25,2.393,0.25
	c5.357,0,10.166-3.741,11.312-9.192c1.316-6.253-2.688-12.391-8.943-13.705l-64.02-13.466l58.589-58.589l78.796,16.574
	c0.804,0.168,1.605,0.25,2.393,0.25c5.357,0,10.164-3.741,11.312-9.192c1.316-6.253-2.688-12.389-8.941-13.705l-64.02-13.466
	l58.589-58.589l78.796,16.575c0.804,0.168,1.605,0.25,2.393,0.25c5.357,0,10.166-3.741,11.312-9.192
	C409.429,214.13,405.427,207.994,399.172,206.679z" />
</svg>
            </div>
            <div class="fw-bold text-dark fs-5">
                Rau củ
            </div>
            <div class="text-secondary fs-6">
                30 sản phẩm
            </div>
        </div>
    </div>

    <div class="boxCategory col-lg-2 col-md-4 col-6 m-0 mt-2">
        <div class="d-flex text-center flex-column justify-content-center shadow p-4 rounded-3">
            <div>
                <svg height="42px" width="42px" version="1.1" id="_x36_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 512 512" xml:space="preserve">
<g>
                <g>
                <polygon style="fill:#A1B9DE;" points="195.038,137.409 195.038,212.812 0,156.057 92.234,106.372 		" />
                <polygon style="fill:#FFFFFF;" points="390.083,455.235 195.06,511.974 195.06,212.789 390.083,156.049 		" />
                <polygon style="fill:#72C7E8;" points="390.083,455.235 195.06,511.974 195.06,364.084 390.083,307.345 		" />
                <polygon style="fill:#ABDDF2;" points="287.249,49.666 92.226,106.405 195.06,212.789 390.083,156.049 		" />
                <polygon style="fill:#FFFFFF;" points="287.272,0 287.272,49.685 92.234,106.372 92.234,56.754 277.78,2.76 		" />
                <polygon style="fill:#FFFFFF;" points="195.038,212.812 195.038,512 25.987,462.787 0,455.246 0,156.057 		" />
                <polygon style="fill:#4BAEE2;" points="195.038,364.089 195.038,512 25.987,462.787 0,455.246 0,307.335 		" />
    </g>
                <g>
                <g>
                <path style="fill:#EF899D;" d="M253.341,256.438l-13.465,31.912l-13.532-24.102l-10.031,2.828v51.974l10.166-2.962v-30.229
				l9.964,16.764l6.867-1.953l9.897-22.554v30.229l10.166-2.894v-51.907L253.341,256.438z" />
                <path style="fill:#EF899D;" d="M275.491,250.042v51.907l10.099-2.962v-51.906L275.491,250.042z" />
                <path style="fill:#EF899D;" d="M307.806,283.502v-42.818l-10.099,2.895v51.907l33.662-9.694v-9.089L307.806,283.502z" />
                <path style="fill:#EF899D;" d="M357.357,247.013l17.168-25.651l-12.32,3.568l-18.245,27.939v-22.62l-10.166,2.894v51.907
				l10.166-2.895v-15.619l6.665-9.964l13.33,19.793l11.849-3.434L357.357,247.013z" />
        </g>
    </g>
</g>
</svg>
            </div>
            <div class="fw-bold text-dark fs-5">
                Sữa
            </div>
            <div class="text-secondary fs-6">
                30 sản phẩm
            </div>
        </div>
    </div>

</div>